* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #1c2323;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

#main-header {
  background-color: #1c2323;
  min-height: 30px;
}

.header-logo img {
  display: block;
  text-align: center;
  margin: 0px auto;
  padding-top: 5px;
}

#navbar {
  background-color: #1c2323;
  color: #1c2323;
  text-align: center;
  word-spacing: 4em;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
  font-weight: bold;
  transition-duration: 400ms;
}

#navbar a:hover {
  text-decoration: underline;
  font-size: 25px;
}

#showcase {
  background-image: url(../images/cloud.svg);
  background-position: center right;
  min-height: 700px;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgreen;

}
.aboutme {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.aboutme-selfie {
  padding-left: 100px;
  padding-top: 20px;
  max-width: 25%;
}
.aboutme-selfie img {
  border-radius: 50%;
  border: 5px solid lightgreen;
  max-width: 250px;
  width: 100%;
}
.aboutme-text {
  padding-bottom: 100px;
  padding-top: 40px;
  padding-right: 100px;
  max-width: 70%;
  width: 100%;
  min-height: 300px;
  float: right;
}

.aboutme span {
  color: lightgreen;
}
.aboutme-text p {
  color: white;
  font-weight: bold;
  line-height: 1.9em;
}



.row {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  
}

#projects-overview {
  padding-bottom: 50px;
  padding-top: 50px;
}
.projects-overview-header {
  color: white;
  font-size: 48px;
  text-decoration: underline;
}
.projects-wrapper {
  align-items: center;
  border-bottom: 1px solid lightgreen;
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
  padding-top: 100px;
}
.projects-info h2 {
  color: white;
  font-size: 38px;
  margin-bottom: 20px;
}

.projects-description {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 420px;
}
.projects-technology {
  background-color: white;
    border-radius: 3px;
    color: black;
    margin: 2px;
    padding: 6px 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

}
.projects-stack {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 20px;
  max-width: 300px;
}
.projects-wrapper-img img {
  border: 2px white;
  border-radius: 10px;
  max-width: 400px;
}

.projects-wrapper-img img:hover {
  transform: scale(1.05);
  transition-duration: 500ms;
}
.bottomnav ul {
  list-style: none;
}

#showcase h1 {
  color: #fff;
  font-size: 38px;
  line-height: 1.6em;
  text-align: center;
  padding-top: 30px;
}

.social-icon {
  color: lightgreen;
    font-size: 36px;
    padding: 0 10px;
    transition: all .3s ease;
    overflow: visible;
    box-sizing: content-box;
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.social-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

#main-footer {
  background: black;
  color: #fff;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
}

#linkscontainer h5 {
  color: #ffffff;
  font-size: 32px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 8px;
}

#linkscontainer {
  max-width: 200px;
  width: 100%;
}
#linkscontainer ul {
  list-style: none;
  font-size: 20px;
  padding-left: 0px;
}

#linkscontainer a {
  text-decoration: none;
  color: white;
}

#main-footer p {
  text-transform: uppercase;
}

@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  } 
}
::-webkit-scrollbar {
  overflow: scroll;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: lightgreen;
  border-radius: 10px;
}